* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body {
  background: rgb(20, 20, 20);
} */

.background {
  position: absolute;
  content: " ";
  background-image: url("./img/Black\ Rectangle.svg");
  height: 1240px;
  z-index: -1;
}

.nav {
  top: 0px;
  left: 0px;
  width: 1350px;
  height: 115px;
  opacity: 1;
}

.niit {
  position: absolute;
  top: 22px;
  left: 192px;
  width: 68px;
  height: 68px;
}

.line {
  position: absolute;
  top: 22px;
  left: 269px;
  width: 6px;
  height: 66px;
}

.infinity {
  position: absolute;
  top: 29px;
  left: 278px;
  width: 78px;
  height: 39px;
}

.infinityname {
  position: absolute;
  top: 71px;
  left: 281px;
  width: 73px;
  height: 10px;
}

.Home {
  position: absolute;
  top: 46px;
  left: 570px;
  width: 48px;
  height: 23px;
}

.IndustryApplication {
  position: absolute;
  top: 46px;
  left: 630px;
  width: 168px;
  height: 23px;
}

.OurWork {
  position: absolute;
  top: 46px;
  left: 780px;
  width: 73px;
  height: 23px;
}

.OurTechnology {
  position: absolute;
  top: 46px;
  left: 870px;
  width: 129px;
  height: 23px;
}

.Insights {
  position: absolute;
  top: 46px;
  left: 1000px;
  width: 62px;
  height: 23px;
}

.GetInTouch {
  position: absolute;
  top: 31px;
  left: 1080px;
  width: 139px;
  height: 54px;
}

.dotbar {
  position: absolute;
  top: 22px;
  left: 1080px;
  width: 122px;
  height: 185px;
  z-index: -1;
}

.firstPara {
  position: absolute;
  top: 293px;
  left: 118px;
  width: 662px;
  height: 150px;
}

.secondPara {
  position: absolute;
  top: 467px;
  left: 120px;
  width: 662px;
  height: 213px;
}

.youtube {
  position: absolute;
  top: 258px;
  left: 700px;
  width: 600px;
  height: 440px;
}

.youtubepic{
  position: absolute;
  top: 330px;
  left: 795px;
  width: 435px;
  height: 280px;
}

.repeatgrid44 {
  position: absolute;
  top: 786px;
  left: 400px;
  width: 500px;
  height: 51px;
}

.Rectangle2658 {
  position: absolute;
  top: 882px;
  left: 80px;
  width: 232px;
  height: 260px;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
}

.customerservice{
  position: absolute;
  top: 900px;
left: 110px;
width: 112px;
height: 67px;
}

.text{
  position: absolute;
  top: 970px;
left: 110px;
width: 220px;
height: 180px;
}

.Rectangle26581 {
  position: absolute;
  top: 882px;
  left: 330px;
  width: 232px;
  height: 260px;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
}

.customerservice1{
  position: absolute;
  top: 900px;
left: 350px;
width: 112px;
height: 84px;
}

.text1{
  position: absolute;
  top: 970px;
left: 350px;
width: 220px;
height: 180px;
}

.Rectangle26582 {
  position: absolute;
  top: 882px;
  left: 580px;
  width: 232px;
  height: 260px;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
}

.customerservice2{
  position: absolute;
  top: 900px;
left: 600px;
width: 112px;
height: 67px;
}

.text2{
  position: absolute;
  top: 970px;
left: 600px;
width: 220px;
height: 180px;
}

.Rectangle26583 {
  position: absolute;
  top: 882px;
  left: 830px;
  width: 232px;
  height: 260px;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
}

.customerservice3{
  position: absolute;
  top: 884px;
left: 860px;
width: 162px;
height: 100px;
}

.text3{
  position: absolute;
  top: 970px;
left: 860px;
width: 220px;
height: 180px;
}

.Rectangle26584 {
  position: absolute;
  top: 882px;
  left: 1080px;
  width: 232px;
  height: 260px;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
}

.customerservice4{
  position: absolute;
  top: 900px;
left: 1104px;
width: 162px;
height: 67px;
}

.text4{
  position: absolute;
  top: 970px;
left: 1104px;
width: 220px;
height: 180px;
}

.repeatgrid46 {
  position: absolute;
  top: 1340px;
  left: 460px;
  width: 500px;
  height: 51px;
}

.repeatgrid51 {
  position: absolute;
  top: 1400px;
  left: 12px;
  width: 1330px;
  height: 680px;
}

.laptop{
  position: absolute;
  top: 1450px;
  left: 90px;
  width: 750px;
  height: 454px
}

.para{
  position: absolute;
  top: 1480px;
  left: 838px;
  width: 510px;
  height: 298px;
}

.button{
  position: absolute;
  top: 1810px;
left: 838px;
width: 252px;
height: 74px;
}

.repeatgrid48{
  position: absolute;
  top: 2060px;
left: 460px;
width: 500px;
height: 51px;
}

.black-1{
  position: absolute;
  content: " ";
  background-image: url(./img/Black\ Rectangle.svg);
  width: 1350px;
  height: 750px;
  z-index: -1;
  top: 2185px;
}

.Rectangle26585{
  position: absolute;
  top: 88px;
  left: 320px;
  width: 225px;
  height: 260px;
  transform: matrix(0, 1, -2, 0, 0, 0);
} 

.case{
  position: absolute;
  top: 110px;
  left: 230px;
  width: 240px;
  height: 80px;
}

.info{
  position: absolute;
  top: 170px;
  left: 230px;
  width: 450px;
  height: 175px;
}

.Rectangle26586{
  position: absolute;
  top: 88px;
  left: 830px;
  width: 225px;
  height: 260px;
  transform: matrix(0, 1, -2, 0, 0, 0);
}

.case1{
   position: absolute;
   top: 105px;
   left: 740px;
   width: 280px;
   height: 80px;
}

.info2{
  position: absolute;
  top: 170px;
  left: 740px;
  width: 440px;
  height: 175px;
}

.Rectangle26587{
  position: absolute;
  top: 400px;
  left: 320px;
  width: 225px;
  height: 260px;
  transform: matrix(0, 1, -2, 0, 0, 0);
} 

.case2{
  position: absolute;
  top: 430px;
  left: 230px;
  width: 300px;
  height: 93px;
}

.info1{
  position: absolute;
  top: 485px;
  left: 230px;
  width: 440px;
  height: 175px;
}

.Rectangle26588{
  position: absolute;
  top: 400px;
  left: 830px;
  width: 225px;
  height: 260px;
  transform: matrix(0, 1, -2, 0, 0, 0);
} 

.case3{
  position: absolute;
  top: 420px;
  left: 740px;
  width: 280px;
  height: 80px;
}

.info3{
 position: absolute;
 top: 480px;
 left: 740px;
 width: 445px;
 height: 175px;
}

/* .repatgrid50{
  position: absolute;
  top: 100px;
left: 0px;
width: 587px;
height: 51px;
}

.repeatgrid501{
  position: absolute;
  top: 100px;
left: 1679px;
width: 587px;
height: 51px;
} */

.era{
  position: absolute;
  top: 2990px;
left: 380px;
width: 800px;
height: 168px;
}

.request{
  position: absolute;
  top: 3160px;
  left: 420px;
  width: 686px;
  height: 49px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
  color: #131313;
}

.repeatgrid52{
  position: absolute;
  top: 3180px;
  left: 100px;
  width: 350px;
  height: 500px;
}

.repeatgrid53{
  position: absolute;
  top: 3180px;
  left: 980px;
  width: 350px;
  height: 500px;
}

.repeatgrid511 {
  position: absolute;
  top: 3005px;
  left: 12px;
  width: 1330px;
  height: 680px;
}

.name{
  display: flex;
}

.firstname{
  position: absolute;
  top: 3250px;
  left: 410px;
  width: 300px;
  height: 50px;
  border: 2px solid pink;
  border-radius: 6px;
}

.lastname{
  position: absolute;
  top: 3250px;
  left: 735px;
  width: 300px;
  height: 50px;
  border: 2px solid pink;
  border-radius: 6px;
}

.company{
  position: absolute;
  top: 3320px;
  left: 410px;
  width: 300px;
  height: 50px;
  border: 2px solid pink;
  border-radius: 6px;
}

.jobtitle{
  position: absolute;
  top: 3320px;
  left: 735px;
  width: 300px;
  height: 50px;
  border: 2px solid pink;
  border-radius: 6px;
}

.workemail{
  position: absolute;
  top: 3390px;
  left: 410px;
  width: 300px;
  height: 50px;
  border: 2px solid pink;
  border-radius: 6px;
}

.businessphone{
  position: absolute;
  top: 3390px;
  left: 735px;
  width: 300px;
  height: 50px;
  border: 2px solid pink;
  border-radius: 6px;
}

.tell{
  position: absolute;
  top: 3460px;
  left: 410px;
  width: 625px;
  height: 120px;
  border: 2px solid pink;
  border-radius: 6px;
}

.requestademo{
  position: absolute;
  top: 3596px;
  left: 785px;
width: 252px;
height: 74px;
}

.footer{
  position: absolute;
    content: " ";
    background-image: url(./img/Black\ Rectangle.svg);
    width: 1350px;
    height: 500px;
    z-index: -1;
    top: 3750px;
}

.niit1 {
  position: absolute;
  top: 90px;
  left: 192px;
  width: 68px;
  height: 68px;
}

.line1 {
  position: absolute;
  top: 90px;
  left: 269px;
  width: 6px;
  height: 66px;
}

.infinity1 {
  position: absolute;
  top: 90px;
  left: 290px;
  width: 78px;
  height: 39px;
}

.infinityname1 {
  position: absolute;
  top: 140px;
  left: 290px;
  width: 73px;
  height: 10px;
}

.niitinfinity{
  position: absolute;
  top: 200px;
  left: 192px;
  width: 423px;
  height: 157px;
}

.link{
  position: absolute;
  top: 90px;
left: 640px;
width: 292px;
height: 269px;
}

.link1{
  position: absolute;
  top: 90px;
left: 880px;
width: 293px;
height: 270px;
}

.contact{
  position: absolute;
  top: 90px;
left: 1075px;
width: 210px;
height: 22px;
}

.media{
  position: absolute;
  top: 140px;
left: 1090px;
width: 174px;
height: 29px;
}

.path{
  position: absolute;
  top: 447px;
left: 0px;
width: 1350px;
height: 57px;
}

.copyright{
  position: absolute;
  top: 465px;
left: 665px;
width: 237px;
height: 23px;
}